@import "bootstrap/dist/css/bootstrap.min.css"
@import "bootstrap/dist/css/bootstrap-theme.min.css"

/* navbar */
body
  padding-top 70px
  position relative

/* 1-0 affix */
.affix
  top 80px
.affix li.active 
  border-left 2px solid #563d7c
  background-color #eee
.nav>li>a:focus
  background-color inherit


